name: Build and Deploy Portfolio

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/portfolio:v2

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/portfolio:v2
            docker stop portfolio || true
            docker rm portfolio || true
            docker run -d --name portfolio -p 80:80 \
              ${{ secrets.DOCKER_USERNAME }}/portfolio:v2

#  changed the security group in AWS 


# change the sudo usermod -aG docker ec2-user 
# added the docker group to the ec2-user to allow running docker commands without sudo.